  .form-control {
    max-width: 300px !important;
  }
  
  thead {
    background-color: #5384b5;
    color: white;
  }
  
  .clickable {
    cursor: pointer;
    padding: 20px;
  }
  
  thead span.descending::after {
    content: "⬇";
    display: inline-block;
    margin-left: 5px;
  }
  
  thead span.ascending::after {
    content: "⬆";
    display: inline-block;
    margin-left: 5px;
  }